<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ado</title>
        <link rel="stylesheet" href="/bootstrap.min.css" id="bootstrap-css">
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <script src="/javascripts/common.js"></script>

        <style>
            .container {
                width: 50%;
                margin-bottom: 30px;
            }
            .content {
                margin: 10px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="container">
                <img src="images/human_person_profile_avatar_user_icon_218861.png" width="300px" height="200px">
            </div>
            <div class="container">
            <div class="form-floating">
                <input type="text" class="form-control" id="id" placeholder="닉네임를 입력하세요">
                <label for="id">닉네임을 입력하세요</label>
            </div>
            </div>
            <div class="container">
                <button class="btn btn-lg btn-primary" type="submit">
                동아리 생성/수정/수정등록/탈퇴/폐쇄
                </button>
            </div>
            <div class="container">
                <button class="btn btn-lg btn-primary" type="submit">
                    동아리 멤버 승인
                </button>
            </div>
        </nav>
    </body>
</html>