<!DOCTYPE html>
<html>
  <head>
    <meta charest="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css" id="bootstrap-css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>

    <style>
      .form-floating {
          margin: 20px;
          width: 300px;
      }
      .form-floatings {
          margin-left: 80px;
          display: inline-block;
          width:30%;
      }
      .login {
          margin: 20px;
      }
      .signln {
          margin: 10px;
      }
    </style>
  </head>
  <body class="text-center">
    <div class="form-signIn">
        <form>
            <h1 class="h3 mb-3 fw-normal">로그인</h1>
            <div class="form-floatings">
             <div class="form-floating">
                <input type="text" class="form-control" id="id" placeholder="아이디를 입력하세요">
                <label for="id">아이디</label>
             </div>
             <div class="form-floating">
                <input type="password" class="form-control" id="pwd" placeholder="비밀번호를 입력하세요">
                <label for="pwd">비밀번호</label>
             </div>
            </div>
        </form>

        <div class="login">
            <button class="btn btn-lg btn-primary" id="loginBtn" type="submit">로그인</button>
        </div>
        <div class="signln">
            <button class="btn btn-lg btn-primary" id="signBtn" onclick="location.href='http://localhost:3000/signIn'">회원가입</button>
        </div>
    </div>
    <script>
      localStorage.clear();
      sessionStorage.clear();

      $("#loginBtn").click(function(){
           $.ajax({
               type : 'post',           // 타입 (get, post, put 등등)
               url : 'http://localhost:3000/api/member/login',   // 요청할 서버url
               async : true,            // 비동기화 여부 (default : true)
               headers : {              // Http header
                   "Content-Type" : "application/x-www-form-urlencoded",
               },
               dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
               data : {  // 보낼 데이터 (Object , String, Array)
                   "id" : $("#id").val(),
                   "pw" : $("#pwd").val()
               },
               success : function(result) { // 결과 성공 콜백함수
                   // console.log(result)

                   if(result.msg === '로그인 성공'){
                       let data = result.data
                       page_move('http://localhost:3000/organization', data)
                   } else {
                       console.log('로그인 실패')
                       alert('로그인 실패')
                   }
               },
               error : function(request, status, error) { // 결과 에러 콜백함수
                   console.log(error)
               }
           })
       })
    </script>
  </body>
</html>
