<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
     <title>가입된 동아리 글 목록 페이지</title>
     <link rel="stylesheet" href="/bootstrap.min.css" id="bootstrap-css">
     <link rel='stylesheet' href='/stylesheets/style.css' />

     <script src="/jquery.min.js"></script>
     <script src="/bootstrap.min.js"></script>
     <script src="/javascripts/common.js"></script>

     <style>
        .container {
           width: 50%;
           margin-bottom: 30px;
        }
        .content {
           margin: 10px;
           padding: 20px;
        }
     </style>
    </head>
    <body>
     <div class="container">
          <div class="h-10 p-5 bg-body-teriary border rounded-3">
              <h2>Add borders</h2>
              <h2>bdd</h2>
          </div>
          <div class="h-10 p-5 bg-body-teriary border rounded-3">
              <h2>Add borders</h2>
              <h2>bdd</h2>
          </div>
     </div>

    </body>
</html>