<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <title>ogana</title>
    <link rel="stylesheet" href="/bootstrap.min.css" id="bootstrap-css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/javascripts/common.js"></script>

    <style>
       .container {
           width: 50%;
           margin-bottom: 30px;
       }
       .containeres {
           margin: 10px;
           padding: 20px;
       }
    </style>
   </head>
   <body>
   <div class="container mb-5" style="display: block;">
       <div style="float: right;">
           <button type="button" class="btn btn-secondary btn-sm me-2" id="refreshBtn">새로고침</button>
           <button type="button" class="btn btn-dark btn-sm" id="logoutBtn">로그아웃</button>
       </div>
   </div>
   <div class="mt-5">
       <div id="section">

       </div>
   </div>
   <div class="container">
       <div style="text-align:center;">
           <button class="btn btn-lg btn-primary" id="create" type="submit">동아리 개설하기</button>
       </div>
   </div>
   <script>
       $(document).ready(function() {
           let data = {
               'memNo' : $("#memNo").val()
           }

           fetch("http://localhost:3000/api/club", {
               method: "POST",
               headers: {
                   "Content-Type": "application/json",
               },
               body: JSON.stringify(data),
           })
               .then(res => res.json())
               .then(result => {
                   console.log(data)

                   let rows = result.data
                   $('#section').empty()
                   if (rows !== undefined || rows.length > 0) {
                       rows.forEach((a) => {
                           var clubNo = a['club_no']
                           var clubName = a['clubname']
                           var clubMemNo = a['mem_no']
                           var madeDate = a['made_date']
                           var hobbyCo = a['hobby_co']
                           var clubJoinStatusFilter = result.clubJoinStatus.filter(it => it.club_no.includes(clubNo))
                           var clubJoinStStr = '가입하기'
                           if(clubJoinStatusFilter.length > 0){
                               var t = clubJoinStatusFilter
                               if(t[0].clubjoin_date !== ''){
                                   clubJoinStStr = '가입승인중'
                               }
                               if(t[0].joinper_date !== null){
                                   clubJoinStStr = '들어가기'
                               }
                           }
                           var temp_html = `<div class="container">
                                                  <div class="h-10 p-5 bg-body-teriary border rounded-3">
                                                      <h2 style="display: inline-block;">${clubName}</h2>
                                                        <button type="button" class="btn btn-secondary btn-sm" onclick="goClub(${clubNo}, ${clubMemNo}, '${clubJoinStStr}');" style="float: right;">${clubJoinStStr}</button>
                                                  </div>
                                                </div>`
                           $('#section').append(temp_html)
                       })
                   } else {
                       $('#section').append('동아리가 존재하지 않습니다')
                   }
               })
       })

       $("#refreshBtn").click(function (){
           let data = {
               'id' : $("#id").val(),
               'memNo' : $("#memNo").val(),
               'nickName' : $("#nickName").val()
           }
           page_move('http://localhost:3000/organization', data)
       })

       $("#logoutBtn").click(function (){
           location.href = 'http://localhost:3000/login'
       })

       $("#create").click(function (){
           let data = {
               'id' : $("#id").val(),
               'memNo' : $("#memNo").val(),
               'nickName' : $("#nickName").val()
           }
           page_move('http://localhost:3000/create', data)
       })

       function goClub(clubNo, clubMemNo, clubJoinStStr){
           if(clubJoinStStr === '들어가기'){
               let data = {
                   'id' : $("#id").val(),
                   'memNo' : $("#memNo").val(),
                   'nickName' : $("#nickName").val(),
                   'clubNo' : clubNo,
                   'clubMemNo' : clubMemNo
               }
               page_move('http://localhost:3000/post', data)
           } else if(clubJoinStStr === '가입하기') {
               let data = {
                   'clubNo' : clubNo,
                   'memNo' : $("#memNo").val()
               }
               $.ajax({
                   method: 'POST',
                   url: 'http://localhost:3000/api/clubMember/create',
                   headers: {
                       "Content-Type": "application/json",
                   },
                   data: JSON.stringify(data),
                   success: function (result) {
                       console.log(result)
                       if(result === '동아리 가입 성공'){
                           alert('동아리 가입 성공')
                           $('#refreshBtn').trigger('click');
                       } else {
                           alert('동아리 가입 실패')
                       }
                   },
                   error: function (request, status, error) { // 결과 에러 콜백함수
                       console.log(error)
                   }
               })
           } else if(clubJoinStStr === '가입승인중') {
               alert('가입승인 대기중입니다')
               return false
           }
       }
   </script>
   <input type="hidden" id="memNo" value="<%=memNo%>">
   <input type="hidden" id="id" value="<%=id%>">
   <input type="hidden" id="nickName" value="<%=nickName%>">
   </body>
</html>

