<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sno</title>
        <link rel="stylesheet" href="/bootstrap.min.css" id="bootstrap-css">
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src="/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <script src="/javascripts/common.js"></script>

        <style>
            .form-control {
                display: inline-block;
            }
            .contents {
                margin: 10px;
                padding: 30px;
            }
            .container {
                width: 50%;
                margin-bottom: 30px;
            }
            .containers {
                margin-left: 38%;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="container">
                <span class="contents">게시글 리스트</span>
                <span class="contents">새소식</span>
                <span class="contents"> 마이페이지</span>
                <span class="contents">동아리 리스트</span>
            </div>
        </nav>
        <div>
            <div class="container">
             <div class="h-10 p-5 bg-body-teriary border rounded-3">
                <h2>Add borders</h2>
                <h2>bdd</h2>
                <button class="btn btn-lg btn-primary" id="id" type="submit">
                    삭제
                </button>
             </div>
            </div>
            <div class="containers">
                <div class="container">
                    <div class="form-floating">
                        <input style="width:200px" type="text" class="form-control" id="id" placeholder="댓글을 입력하세요">
                        <label for="id">댓글을 입력하세요</label> <button class="btn btn-lg btn-primary" type="submit">댓글</button>
                    </div>
                    <div class="form-floating">
                        <input style="width:200px" type="text" class="form-control" id="id" placeholder="댓글을 입력하세요">
                        <label for="id">댓글을 입력하세요</label> <button class="btn btn-lg btn-primary" type="submit">댓글</button>
                    </div>
                    <div class="form-floating">
                        <input style="width:200px" type="text" class="form-control" id="id" placeholder="댓글을 입력하세요">
                        <label for="id">댓글을 입력하세요</label> <button class="btn btn-lg btn-primary" type="submit">댓글</button>
                    </div>
                </div>
            </div>
            <div class="containers">
                <div class="container">
                   <div class="form-floating">
                      <button class="btn btn-lg btn-primary" type="submit">
                        게시글 쓰기 or 동아리 가입
                      </button>
                   </div>
                </div>
            </div>
        </div>
    </body>
</html>